body, html {
    height: 650px;
  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 150%), url(../képek/sz.jpg);
    
    
    

    height: 800px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100%;

    
   
}
p{
    color: white;
}

h2{
    color: white;
    text-align: left;
    margin-left: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    float: none;
    width: 280px;
    position: relative;
    border-radius: 100%;
}   

tr{
    color: white;
    background-color: grey;
    width: 100%;
    height: 50px;
    padding: inherit;
    
    
}

th{
    text-align: center;
    background: black;
    
}
.table table-hover{
    padding: 35px;
}
td, th{
    padding: 35px;
}
h1{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-align: left;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.faanyag{
    margin-top: 50px;
    font-size: 65px;
}

#fasection {
    display: flex;
    width: auto !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#fasection a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fasection a p {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
    width: 50%;
}

.naonklasz {
    max-width: 15rem;
}