body, html {
    height: 650px;
  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 150%), url(../képek/3569655.jpg);
    
    
    

    height: 800px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
   
}
p{
    color: white;
    text-align: left;
    padding: 35px;
 
}

h2{
    color: white;
    text-align: center;
}
img{
    float: right;
    text-indent: right;
    border-radius: 100%;
    width: 250px;
    position: relative;
}   

tr{
    color: white;
    background-color: grey;
    width: 100%;
    height: 50px;
    padding: inherit;
    
    
}

th{
    text-align: center;
    background: black;
    
}
.table table-hover{
    padding: 35px;
}
td, th{
    padding: 35px;
}
h1{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-align: left;
}
#tolgyIMG{
    position: relative;
    margin: 35px;
    float: left;
}
#bukkIMG{
    position: relative;
    margin: 35px;
}
#dioIMG{
    position: relative;
    margin: 35px;
}
#mahaIMG{
    position: relative;
    margin: 35px;
}
#csereIMG{
    position: relative;
    margin: 35px;
}

