body, html {
    height: 650px;
  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 150%), url(../képek/3569655.jpg);
    
    
    

    height: 800px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
   
}
p{
    color: white;
    text-align: left;
    padding: 35px;
 
}

h2{
    color: white;
    text-align: left;
    margin-left: 35px;
}
img{
    float: none;
    width: 280px;
    position: relative;
    border-radius: 100%;
}   

tr{
    color: white;
    background-color: grey;
    width: 100%;
    height: 50px;
    padding: inherit;
    
    
}

th{
    text-align: center;
    background: black;
    
}
.table table-hover{
    padding: 35px;
}
td, th{
    padding: 35px;
}
h1{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-align: left;
}
#tolgyIMG{
    border-radius: 100%;
    position: relative;
    margin: 35px;
    display: block;
    float: left;
}
#bukkIMG{
    border-radius: 100%;
   position: relative;
    margin: 35px;
    display: block;
    float: left;
}
#dioIMG{
    border-radius: 100%;
    position: relative;
    margin: 35px;
    display: block;
    float: right;
}
#mahaIMG{
    border-radius: 100%;
    position: relative;
    margin: 35px;
    display: block;
    float: left;
}
#csereIMG{
    border-radius: 100%;
    position: relative;
    margin: 35px;
    display: block;
    float: left;
}


.img-with-text img {
    display: block;
    margin: 0 auto;
}
h3{
    color: white;
    padding: 35px;
}

.szerszamgep{
    width: 175px;
    height: 175px;
}

.veso{
    width: 200px;
    height: 200px;
}

.furesz{
    width: 200px;
    height: 200px;
}
